body{
  margin:0;
  font-family: Arial, sans-serif;
}

:host{
  display:block;
  min-height:100vh;

  background-image:url('/assets/fgg.png');
  background: size 100% 100%;
  background-position:center center;
  background-repeat:no-repeat;

  padding:10px;
}

h1,h2,h3{
  text-align:center;
  color:black;
  text-shadow:none;
}

.board{
  display:grid;
  grid-template-columns:repeat(4,100px);
  gap:15px;
  justify-content:center;
  margin-top:20px;
}

.card{
  width:100px;
  height:100px;
  border-radius:12px;
  border:2px solid #333;
  display:flex;
  justify-content:center;
  align-items:center;
  font-size:40px;
  cursor:pointer;
  background:#fff;
  transition:0.3s;
}

.card:hover{
  transform:scale(1.05);
}

/* 📱 Mobile */

@media (max-width: 600px){

  .board{
    grid-template-columns:repeat(2,80px);
    gap:10px;
  }

  .card{
    width:80px;
    height:80px;
    font-size:30px;
  }

  h1{
    font-size:24px;
  }

  h2,h3{
    font-size:18px;
  }
}